<table class="table table-hover" id="jq-datatables-example1">
	<thead>
		<tr>
			<th> <%= sortable "destination_name", "Country" %> </th>
			<th> <%= sortable "status" %> </th>
			<th> Action </th>
		</tr>
	</thead>
	<tbody>
	<% if @countries.total_count > 0
		for country in @countries %>
		<tr>
			<td><%= country.destination_name %></td>
			<td><%= APP_CONFIG['status_id'][country.status] %></td>
			<td> 
				<%= link_to content_tag(:i ,"",:class => "fa fa-pencil"), url_for(controller: "manager/destinations", action: "edit", id: country.id), {"title" => 'Edit', "data-toggle" => "modal", "data-target" => "#editModal"} %> &nbsp;&nbsp;
				<%= (country.status == APP_CONFIG['status']['Active']) ? link_to(content_tag(:i ,"",:class => "fa fa-eye"),url_for(controller: "manager/destinations", action: "change_status", id: country.id), :class => 'js_change_status', :remote => true,:title => 'Active; Mark as inactive') : link_to(content_tag(:i ,"",:class => "fa fa-eye-slash grey"),url_for(controller: "manager/destinations", action: "change_status", id: country.id),:class => 'js_change_status', :remote => true,:title => 'Inactive; Mark as active') %> &nbsp;&nbsp;
				<% # link_to content_tag(:i ,"",:class => "fa fa-trash-o"), url_for(controller: "manager/destinations", action: "destroy", id: country.id), :title => 'Delete', :class => 'js_delete_item', :remote => true,:method => :delete, :data => {:confirm => "Are you sure, you want to delete this country record?"} %>
			</td>
		</tr>
	<% end
	else %>
		<tr>
			<td colspan="3" align="center">No records found.</td>
		</tr>
	<% end %>
	</tbody>
</table>

	<%= render 'manager/shared/manager_pagination', :records => @countries %>