<% content_for :header do %>
	<h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-map-marker page-header-icon"></i>&nbsp;&nbsp;City List</h1>
		<!-- <button class="add-new_btn btn btn-primary col-sm-1" data-toggle="modal" type="button" data-target="#createModal">Add New +</button> -->
	    <a class="add-new_btn btn btn-page-back col-sm-1">
	      GO BACK
	    </a>
<% end %>

<%= form_tag url_for(controller: "manager/destinations", action: "city_list"), :method => 'get', :id => "search_form" do %>
  	<%= hidden_field_tag :direction, params[:direction], :id => "js_direction" %>
  	<%= hidden_field_tag :sort, params[:sort], :id => "js_sort" %>
  	<%= hidden_field_tag :limit, params[:limit], :id => "js_limit" %>
  	<%= hidden_field_tag :page, params[:page], :id => "js_page" %>
  	<div class="row">
	    <div class="col-sm-12">
        <div class="first-col col-sm-3">
          <%= text_field_tag :search, params[:search], :class => "js_search_field page-search_feild" %>
        </div>
		    <div class="first-col col-sm-3">
		      <%= select_tag :state, options_from_collection_for_select(@state_list, "state", "state"), :class => "page-search_sfeild", :include_blank => "ALL" %>
		    </div>
		    <div class="col-sm-3">
	    		<%= button_tag "Search", :name => nil, :id => "search_form_submit", :class => "btn btn-success page-btn-search", :type => "button" %>
		    </div>
	    </div>
  	</div>
	<div class="panel search_view_table" id="cities">
		<%= render 'cities' %>
	</div>
<% end %>

<div id="createModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add New City</h4>
      </div>
      <%= form_for(@destination, url: url_for(controller: "manager/destinations",action: "create_city"), remote: true, method: :post, html: {id: 'create_form', class: 'create_record_form'})  do |f| %>
      	<%= f.hidden_field :d_type %>
        <div class="modal-body">
          <div class="row">
            <label class="col-sm-2">City Name</label>
            <%= f.text_field :destination_name, :class => 'form-control page-addform_feild col-sm-6', :placeholder => 'Enter City Name' %>
          </div>
          <div class="row">
            <label class="col-sm-2">State Name</label>
            <%= f.collection_select :state, @state_list, "state", "state", {},:class => 'form-control page-addform_feild col-sm-6' %>
          </div>
          <div class="row">
            <label class="padding-left_12 col-sm-2">Status</label>
            <%= f.check_box :status, {:class => 'outline-switcher', "data-class" => "switcher-sm checked"}, "1", "2" %>
          </div>
          <!-- <input type="checkbox" data-class="switcher-sm checked" class="outline-switcher"> -->
        </div>
        <div class="modal-footer">
          <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
          <button class="btn btn-primary" type="submit">Save changes</button>
        </div>
      <% end %>
    </div> <!-- / .modal-content -->
  </div> <!-- / .modal-dialog -->
</div>

<div id="editModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      
    </div> <!-- / .modal-content -->
  </div> <!-- / .modal-dialog -->
</div>