<table class="table table-hover" id="jq-datatables-example1">
	<thead>
		<tr>
			<th> <%= sortable "zone_name" %> </th>
			<th> <%= sortable "zone_code" %> </th>
			<th> <%= sortable "display_order" %> </th>
			<th> Action </th>
		</tr>
	</thead>
	<tbody>
	<% if @zones.total_count > 0 
		for zone in @zones %>
			<tr>
				<td><%= zone.zone_name %></td>
				<td><%= zone.zone_code %></td>
				<td><%= zone.display_order %></td>
				<td>
					<%= link_to content_tag(:i ,"",:class => "fa fa-pencil"), edit_manager_zone_path(zone.id), {"title" => 'Edit', "data-toggle" => "modal", "data-target" => "#editModal"} %> &nbsp;&nbsp;
					<%= link_to content_tag(:i ,"",:class => "fa fa-trash-o"), manager_zone_path(zone.id), :title => 'Delete', :class => 'js_delete_item', :remote => true,:method => :delete, :data => {:confirm => "Are you sure, yuo want to delete this zone?"} %>
				</td>
			</tr>
	<% end
	else %>
		<tr>
			<td colspan="4" align="center">No records found.</td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= render 'manager/shared/manager_pagination', :records => @zones %>