<% content_for :header do %>
	<h1 class="col-xs-12 col-sm-4 text-center text-left-sm">
        <i class="fa fa-gears page-header-icon"></i>&nbsp;&nbsp;Manage Permissions
    </h1>
    <%= link_to "GO BACK", manager_admins_path, :class => 'add-new_btn btn btn-page-back col-sm-1' %>
<% end %>

<%= form_for(@admin, url: url_for(controller: "manager/admins", action: "manage_permissions", id: @admin.id), method: :post, html: {id: 'manage_permissons_form', class: 'create_record_form'})  do |f| %>
	<div class="box">
    	<div class="box-body bg-white-15"> 
			<div class="row">
				<label class="col-sm-2">Permission Set</label>
				<label class="col-sm-2"><%= @admin.name + "(" + @admin.email+")" %></label>
			</div>
			<% 	APP_CONFIG['admin_permission_set'].each do |key, value| %>
				<div class="row">
					<label class="padding-left_12 col-sm-2">&nbsp;</label>
					<div class="col-sm-6">
						<% if (!@admin.permissions.nil?) && (@admin.permissions.include? key) %>
				  			<%= check_box_tag "permissions[]", key, true %> 
				  		<% else %>
				  			<%= check_box_tag "permissions[]", key %> 
				  		<% end %>
				  		<%= value %>
					</div>
				</div>
			<% end %>
			<div class="row mar-top-15">
		        <label class="padding-left_12 col-sm-2"></label>
		        <div class="col-sm-10">
		          <button class="btn btn-primary" type="submit">Save Changes</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		          <%= link_to "Close", manager_admins_path, :class => 'btn btn-default' %>
		        </div>
		    </div>
		</div>
	</div>
<% end %>