<% if resource_name == :admin %>
  <%= stylesheet_link_tag  'manager_css/bootstrap.min', 'manager_css/pixel-admin.min', 'manager_css/pages.min', 'manager_css/style' %>
  <%= javascript_include_tag 'manager_js/jquery.min' %>
  <body class="theme-default page-signin">
    <!-- Container -->
    <div class="signin-container">

      <!-- Right side -->
      <div class="signin-form">

        <!-- Form -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="signin-text">
            <span>Manager Login</span>
          </div>
            <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>">
                  <%= value %>
                </div>
              <% end %>
          <div class="form-group w-icon">
            <%= f.text_field :email, :class => 'form-control input-lg', :placeholder =>'Email', autofocus: true %>
            <!-- <input type="text" name="signin_username" id="username_id" class="form-control input-lg" placeholder="Username or email"> -->
            <span class="fa fa-user signin-form-icon"></span>
          </div> <!-- / Username -->

          <div class="form-group w-icon">
            <%= f.password_field :password, :class => 'form-control input-lg', :placeholder =>'Password', autocomplete: "off" %>
            <!-- <input type="password" name="signin_password" id="password_id" class="form-control input-lg" placeholder="Password"> -->
            <span class="fa fa-lock signin-form-icon"></span>
          </div> <!-- / Password -->

          <div class="form-actions">
            <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
            <a href="javascript:void(0)" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
          </div> <!-- / .form-actions -->
        <% end %>
        <!-- / Form -->      

        <!-- Password reset form -->
        <div class="password-reset-form" id="password-reset-form">
          <div class="header">
            <div class="signin-text">
              <span>Password reset</span>
              <div class="close">&times;</div>
            </div> <!-- / .signin-text -->
          </div> <!-- / .header -->
          
          <!-- Form -->
          <form action="index.html" id="password-reset-form_id">
            <div class="form-group w-icon">
              <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
              <span class="fa fa-envelope signin-form-icon"></span>
            </div> <!-- / Email -->

            <div class="form-actions">
              <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
            </div> <!-- / .form-actions -->
          </form>
          <!-- / Form -->
        </div>
        <!-- / Password reset form -->
      </div>
      <!-- Right side -->
    </div>
    <!-- / Container -->
  <script type="text/javascript" language="javascript">
    $('#forgot-password-link').click(function () {
      $('#password-reset-form').fadeIn(400);
      return false;
    });
    $('#password-reset-form .close').click(function () {
      $('#password-reset-form').fadeOut(400);
      return false;
    });
  </script>
  </body>
<% else %>
  <%= stylesheet_link_tag  'manager_css/bootstrap.min', 'manager_css/pixel-admin.min', 'manager_css/pages.min', 'style' %>
  <%= javascript_include_tag 'manager_js/jquery.min' %>
  <body class="theme-default page-signin">
   <!-- Container -->

   <div id="page-signin-bg">
    <!-- Background overlay -->
    <div class="overlay"></div>
    <!-- Replace this with your bg image -->
    <%= image_tag("17503554-Distribution-and-shipping-elements-Stock-Vector-shipping-export-cargo.jpg") %>
  </div>

    <div class="signin-container">

      <!-- Left side -->
      <div class="signin-info">
        <a href="index.html" class="logo">
          ERP
        </a> <!-- / .logo -->
        <div class="slogan">
          Simple. Flexible. Powerful.
        </div> <!-- / .slogan -->
        <ul>
          <li><i class="fa fa-sitemap signin-icon"></i> Flexible modular structure</li>
          <li><i class="fa fa-file-text-o signin-icon"></i> LESS &amp; SCSS source files</li>
          <li><i class="fa fa-outdent signin-icon"></i> RTL direction support</li>
          <li><i class="fa fa-heart signin-icon"></i> Crafted with love</li>
        </ul> <!-- / Info list -->
      </div>
      <!-- / Left side -->

      <!-- Right side -->
      <div class="signin-form">

        <!-- Form -->
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="signin-text">
            <span>Sign In to your account</span>
          </div> <!-- / .signin-text -->
          <% flash.each do |key, value| %>
                <div class="alert alert-<%= key %>">
                  <%= value %>
                </div>
              <% end %>
          <div class="form-group w-icon">
            <%= f.text_field :email, :class => 'form-control input-lg', :placeholder =>'Email', autofocus: true %>
            <span class="fa fa-user signin-form-icon"></span>
          </div> <!-- / Username -->

          <div class="form-group w-icon">
            <%= f.password_field :password, :class => 'form-control input-lg', :placeholder =>'Password', autocomplete: "off" %>
            <span class="fa fa-lock signin-form-icon"></span>
          </div> <!-- / Password -->

          <div class="form-actions">
            <input type="submit" value="SIGN IN" class="signin-btn bg-primary">
            <a href="javascript:void(0)" class="forgot-password" id="forgot-password-link">Forgot your password?</a>
          </div> <!-- / .form-actions -->
        <% end %>
        <!-- / Form -->        
      
        <!-- Password reset form -->
        <div class="password-reset-form" id="password-reset-form">
          <div class="header">
            <div class="signin-text">
              <span>Password reset</span>
              <div class="close">&times;</div>
            </div> <!-- / .signin-text -->
          </div> <!-- / .header -->
          
          <!-- Form -->
          <% #form_for(resource, as: resource_name, url: user_forgot_password_path, html: { method: :post }) do |f| %>
          <form action="index.html" id="password-reset-form_id">
            <div class="form-group w-icon">
              <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
              <span class="fa fa-envelope signin-form-icon"></span>
            </div> <!-- / Email -->

            <div class="form-actions">
              <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
            </div> <!-- / .form-actions -->
          </form>
          <% #end %>
          <!-- / Form -->
        </div>
        <!-- / Password reset form -->
      </div>
      <!-- Right side -->
    </div>
    <!-- / Container -->
  <script type="text/javascript" language="javascript">
    $('#forgot-password-link').click(function () {
      $('#password-reset-form').fadeIn(400);
      return false;
    });
    $('#password-reset-form .close').click(function () {
      $('#password-reset-form').fadeOut(400);
      return false;
    });
  </script>
  </body>
<% end %>