<table class="table table-hover" id="jq-datatables-example1">
	<thead>
		<tr>
			<th> <%= sortable "title" %> </th>
			<th> <%= sortable "attachment_file_name", "File Name" %> </th>
			<th> <%= sortable "created_at", "Upload Date" %> </th>
			<th> Status </th>
			<th> Action </th>
		</tr>
	</thead>
	<tbody>
	<% if @documents.total_count > 0 
		for document in @documents %>
			<tr>
				<td><%= document.title.html_safe %></td>
				<td><%= link_to document.attachment_file_name, "/"+document.attachment.url, {"title" =>document.attachment_file_name, "target" => "_blank"} %></td>
				<td><%= document.created_at.strftime("%d %b(%a), %l:%M %p") %></td>
				<td><%= APP_CONFIG['status_id'][document.status] %></td>
				<td>
					<%= link_to content_tag(:i ,"",:class => "fa fa-pencil"), edit_manager_document_path(document.id), {"title" => 'Edit'} %> &nbsp;&nbsp;
					<%= (document.status == APP_CONFIG['status']['Active']) ? link_to(content_tag(:i ,"",:class => "fa fa-eye"),url_for(controller: "manager/documents", action: "change_status", id: document.id), :class => 'js_change_status', :remote => true,:title => 'Active; Mark as inactive') : link_to(content_tag(:i ,"",:class => "fa fa-eye-slash grey"),url_for(controller: "manager/documents", action: "change_status", id: document.id),:class => 'js_change_status', :remote => true,:title => 'Inactive; Mark as active') %> &nbsp;&nbsp;
					<%# link_to content_tag(:i ,"",:class => "fa fa-trash-o"), manager_network_path(document.id), :title => 'Delete', :class => 'js_delete_item', :remote => true,:method => :delete, :data => {:confirm => "Are you sure, yuo want to delete this network?"} %>
				</td>
			</tr>
	<% end
	else %>
		<tr>
			<td colspan="5" align="center">No records found.</td>
		</tr>
	<% end %>
	</tbody>
</table>

<%= render 'manager/shared/manager_pagination', :records => @documents %>